<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<string>记账设置</string>
		<key>settings</key>
		<array>
			<dict>
				<key>title</key>
				<string>我的货币和汇率</string>
				<key>subtitle</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>月预算</string>
				<key>subtitle</key>
				<string>¥0.00</string>
			</dict>
			<dict>
				<key>title</key>
				<string>月开始日</string>
				<key>subtitle</key>
				<string>每月1日</string>
			</dict>
			<dict>
				<key>title</key>
				<string>收支分类</string>
				<key>subtitle</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>多账本功能</string>
				<key>subtitle</key>
				<string>已关闭</string>
			</dict>
			<dict>
				<key>title</key>
				<string>记账数据倒入</string>
				<key>subtitle</key>
				<string>支持挖财、随手记等</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>应用设置</string>
		<key>settings</key>
		<array>
			<dict>
				<key>title</key>
				<string>自动同步</string>
				<key>subtitle</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>首页资产展示</string>
				<key>subtitle</key>
				<string>平铺</string>
			</dict>
			<dict>
				<key>title</key>
				<string>首页资产排序</string>
				<key>subtitle</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>首页模块设置</string>
				<key>subtitle</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>收支金额配色</string>
				<key>subtitle</key>
				<string>红色支出、绿色收入</string>
			</dict>
			<dict>
				<key>title</key>
				<string>主题皮肤</string>
				<key>subtitle</key>
				<string>有钱深</string>
			</dict>
			<dict>
				<key>title</key>
				<string>启动密码</string>
				<key>subtitle</key>
				<string>关闭</string>
			</dict>
			<dict>
				<key>title</key>
				<string>记账提醒</string>
				<key>subtitle</key>
				<string>智能</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>帮助</string>
		<key>settings</key>
		<array>
			<dict>
				<key>title</key>
				<string>问题反馈</string>
				<key>subtitle</key>
				<string>您的反馈使我们变得更好</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string></string>
		<key>settings</key>
		<array>
			<dict>
				<key>title</key>
				<string>关于</string>
				<key>subtitle</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
